
@{
    LotusProject.Actions.ActionOrders AcOrders = new LotusProject.Actions.ActionOrders();
    LotusProject.Actions.ActionReserve AcReserve = new LotusProject.Actions.ActionReserve();

    //var Jan = AcOrders.MonthOrders(1);
    //var Feb = AcOrders.MonthOrders(2);
    //var Mar = AcOrders.MonthOrders(3);
    //var Apr = AcOrders.MonthOrders(4);
    //var May = AcOrders.MonthOrders(5);
    //var Jun = AcOrders.MonthOrders(6);
    //var Jul = AcOrders.MonthOrders(7);
    //var Ago = AcOrders.MonthOrders(8);
    //var Sep = AcOrders.MonthOrders(9);
    //var Oct = AcOrders.MonthOrders(10);
    var Nov = AcOrders.MonthOrders(11);
    var Dec = AcOrders.MonthOrders(12);

    IEnumerable<LotusProject.Models.ViewModels.ViewReserve> ReservesDash = (ViewBag.Reserve != null) ? ViewBag.Reserve : new LotusProject.Models.ViewModels.ViewReserve();
    IEnumerable<LotusProject.Models.ViewModels.ViewEmployee> EmployeeDash = (ViewBag.ListEmployee != null) ? ViewBag.ListEmployee : new LotusProject.Models.ViewModels.ViewEmployee();
    var OrdAmount = AcOrders.OrdersDashAmount();
    var OrdValue = AcOrders.OrdersValueTotal();
    var ResAmount = AcReserve.ReserveDashAmount();
    LotusProject.Models.Employee EmpBag = (ViewBag.Employee != null) ? ViewBag.Employee : new LotusProject.Models.Employee();
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";


    DateTime tempo = DateTime.Now;
    string salutation;
    if (tempo.Hour > 6 && tempo.Hour < 12)
    {
        salutation = "Bom dia, ";

    }
    else if (tempo.Hour >= 12 && tempo.Hour < 18)
    {
        salutation = "Boa tarde, ";
    }
    else
    {
        salutation = "Boa noite, ";
    }
}

<link rel="stylesheet" href="~/static/css/styleDashboard.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="row">
    <div class="col-md-3">
        <div class="card card-top-page">
                <div class="content">
                    <h3> @salutation @EmpBag.name</h3>
                </div>

        </div>
    </div>
      

    <div class="col-md-3">
        <div class="card card-top-page">
                <div class="align-items-center row">
                    <div class="col">
                        <a href="#"><h6>Pedidos</h6></a>
                        <span>@OrdAmount</span>
                    </div>
                    <div class="col-auto">
                        <i class="shopping bag icon" style="font-size: 25px; padding-top:10px"></i>
                    </div>
                </div>
        </div>
    </div>
    

    @if (EmpBag.role == "Administrator")
    {


        <div class="col-md-3">

            <div class="card card-top-page">
                    <div class="align-items-center row">
                        <div class="col">
                            <a href="#"><h6>Valor total</h6></a>
                            <span>@OrdValue</span>
                        </div>
                        <div class="col-auto">
                            <i class="dollar sign icon" style="font-size: 25px; padding-top:10px"></i>
                        </div>
                    </div>
            </div>
        </div>
       
    }
    else
    {
        <div class="col-md-3">

            <div class="card card-top-page">
                <div class="align-items-center row">
                    <div class="col">
                        <h6>Valor total</h6>
                        Sem acesso.
                    </div>
                    <div class="col-auto">
                        <i class="dollar sign icon" style="font-size: 25px; padding-top:10px"></i>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="col-md-3">
        <div class="card card-top-page">
            <div class="align-items-center row">
                <div class="col">
                    <a href="#"><h6>Reservas</h6></a>
                    <span>@ResAmount</span>
                </div>
                <div class="col-auto">
                    <i class="tags icon" style="font-size: 25px; padding-top: 10px"></i>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-md-9">
        <div class="card text-center card-chart" style="max-height:430px">
            <div class="card-header" style="color: white">
                Vendas
            </div>
            <div class="card-body">
                <canvas class="myChart" style="max-height:360px"></canvas>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-employee">
            <div class="card-header text-center" style="color: white">
                Funcionários
            </div>
            <div class="card-body">
                <table class="table striped" style="color: white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Funcionarios</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach(var item in EmployeeDash)
                        {
                        <tr>
                            <td style="color: white">#</td>
                            <td style="color: white">@item.name</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center" >
                <a href="#" style="color: white">Ver todos</a>
            </div>
        </div>
    </div>
</div>







<div class="card card-reserve" style="top: 10px">
    <div class="card-header text-center">
        Reservas
    </div>
    <div class="card-body">
        <table class="table striped" style="color: white">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ReservesDash)
                {
                <tr>
                    <td style="color: white">@item.custname</td>
                    <td style="color: white">@item.resvalidity</td>
                    @if (item.statusreserve == "F")
                    {
                    <td style="color: white"><span class="text-success">●</span> Atendido</td>
                    }
                    else
                    {
                        <td style="color: white"><span class="text-danger">●</span> Cancelado</td>
                    }

                </tr>
                }


                @*<tr>
                    <td style="color: white">2</td>
                    <td style="color: white">Mark</td>
                    <td style="color: white">23/12/2021</td>
                    <td style="color: white"><span class="text-warning">●</span> Pendente</td>
                </tr>
                <tr>
                    <td style="color: white">3</td>
                    <td style="color: white">Fernanda</td>
                    <td style="color: white">13/11/2021</td>
                    <td style="color: white"><span class="text-info">●</span> Acontecendo</td>
                </tr>
                <tr>
                    <td style="color: white">4</td>
                    <td style="color: white">David</td>
                    <td style="color: white">10/11/2021</td>
                    <td style="color: white"><span class="text-success">●</span> Atendido</td>
                </tr>
                <tr>
                    <td style="color: white">5</td>
                    <td style="color: white">Gabriel</td>
                    <td style="color: white">08/11/2021</td>
                    <td style="color: white"><span class="text-success">●</span> Atendido</td>
                </tr>*@

            </tbody>
        </table>

    </div>
    <div class="card-footer text-center">
        <a href="#" style="color: white">Ver todos</a>
    </div>
</div>








<script>
    var ctx = document.getElementsByClassName("myChart");



    var chartGraph = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [{
                label: "Vendas - @DateTime.Now.Year",
                data: [223, 123, 234, 133, 200, 150, 190, 180, 300, 222, @Nov, @Dec)],
                borderWidth: 1,
                borderColor: '#b492ff',
                fontColor: '#b492ff'
            },
                {
                label: "Meta - @DateTime.Now.Year",
                    data: [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100],
                borderWidth: 1,
                borderColor: '#fff',
                fontColor: '#b492ff'
            }

            ]
        },
        options: {
            plugins: {
                legend: false
            }

        }
    });
</script>
